@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  }

  .canavas-container {
    --gradient-color-1: #6ec3f4;
    --gradient-color-2: #3a3aff;
    --gradient-color-3: #ff61ab;
    --gradient-color-4: #e63946;
    inset: 0;
    height: 90vh;
    clip-path: polygon(0 0, 100% 0%, 100% 57%, 0 85%);
    z-index: -1;
  }
  .modify--scroll::-webkit-scrollbar {
    display: none;
  }
}
